<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Audiobooks</title>
</head>
<body>
<h1>All Audiobooks</h1>

<a th:href="@{/audiobooks/new}">
    <button type="button">Create Audiobook</button>
</a>

<ul>
    <li th:each="audiobook : ${audiobooks}">
        <strong th:text="${audiobook.title}"></strong><br>

        <a th:href="@{/audiobooks/{id}(id=${audiobook.id})}">Show Info</a> |
        <a th:href="@{/audiobooks/{id}/edit(id=${audiobook.id})}">Update</a> |

        <form th:action="@{/audiobooks/{id}(id=${audiobook.id})}"
              method="post"
              style="display: inline;">
            <input type="hidden" name="_method" value="Delete">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

</body>
</html>
