<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Audiobook</title>
</head>
<body>
<h1>Create New Audiobook</h1>

<form method="post" th:action="@{/audiobooks}">

    <p>
        <label>Title: </label>
        <input type="text" name="title" required>
    </p>

    <p>
        <label>Release Date: </label>
        <input type="date" name="releaseDate" required>
    </p>

    <p>
        <label>Category: </label>
        <input type="text" name="category" required>
    </p>

    <p>
        <label>Author: </label>
        <input type="text" name="author" required>
    </p>

    <p>
        <label>Narrator: </label>
        <input type="text" name="narrator" required>
    </p>

    <button type="submit">Save Audiobook</button>

</form>

</body>
</html>