<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Game</title>
</head>
<body>

<h1>Edit Game</h1>

<form th:action="@{/games/update}"
      th:object="${game}" method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Title:</label>
    <input type="text" th:field="*{title}" /><br>

    <label>Make:</label>
    <input type="text" th:field="*{make}" /><br>

    <label>Genre:</label>
    <input type="text" th:field="*{genre}" /><br>

    <label>Age:</label>
    <input type="number" th:field="*{age}" /><br>

    <button type="submit">Update</button>
</form>

</body>
</html>
