<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Audiobook</title>
</head>
<body>
<h1>Update Audiobook</h1>

<form method="post" th:action="@{/audiobooks/{id}(id=${audiobook.id})}">
    <input type="hidden" name="_method" value="PUT">

    <p>
        <label>Title: </label>
        <input type="text" name="title"
               th:value="${audiobook.title}" required>
    </p>

    <p>
        <label>Release Date: </label>
        <input type="date" name="releaseDate"
               th:value="${audiobook.releaseDate}" required>
    </p>

    <p>
        <label>Category: </label>
        <input type="text" name="category"
               th:value="${audiobook.category}" required>
    </p>

    <p>
        <label>Author: </label>
        <input type="text" name="author"
               th:value="${audiobook.author}" required>
    </p>

    <p>
        <label>Narrator: </label>
        <input type="text" name="narrator"
               th:value="${audiobook.narrator}" required>
    </p>

    <button type="submit">Update Audiobook</button>

</form>

</body>
</html>